@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.angkor-regular {
    font-family: "Angkor", serif;
}

.stoke {
    font-family: "Stoke", serif;
}

.arsenal {
    font-family: "Arsenal", sans-serif;
}

.imperial {
    font-family: "Imperial Script";
}


.trash-can:hover path {
    fill: red;
}

.dot {
    height: 8px;
    width: 8px;
    background-color: #706e6e;
    border-radius: 50%;
  }
