@tailwind base;
@tailwind components;
@tailwind utilities;

.stoke {
    font-family: "Stoke", serif;
}

.arsenal {
    font-family: "Arsenal", sans-serif;
}

.imperial {
    font-family: "Imperial Script";
}
